
.Footer
{
    width:100%;
    padding:1rem 3rem;
}

.tempbtn
{
    margin:0.3rem;
    padding: 1rem;
    border-radius:5px;
    border:none;
    transition:all 0.5s ease;
    background-color: var(--main-theme-color);
    color:white;
}

.tempbtn:hover
{
    transform:translateY(-5px);
}

.Text 
{
    margin:1rem;
    padding:0.1rem 0;
}

.Theme-Text
{
    font-size:1.2rem;
    color:var(--main-theme-color);
}
