

:root
{
    --Body-Text-Color:#dddddd;
}

.Main-Body
{
    min-height: 200vh;
    background-color: black;
    color:var(--Body-Text-Color);
    padding:2rem 0;
    text-align: center;
    z-index: -5;
}

.Page
{
    min-height: 100vh;
    width: 100%;
}

.Half-Container
{
    /* align-self: flex-start; */
    width: 48%;
    background-color: transparent;
    /* border:2px solid orange; */
    padding:0.5rem;
    border-radius: 0.5rem;
}

.Main-Body-Photo
{
    width: 80%;
    border-radius: 38% 4% 28% 5%;
    background-color: orange;
    box-shadow: 17px -12px 50px 0.1px red,
                -58px 38px 100px 1px red;
    transition:border-radius 0.3s ease-in-out;
}

.Main-Body-Photo:hover
{
    border-radius: 40% 0% 30% 1%;
}

.Name-Title
{
    font-size:5rem;
    font-family: 'Josefin Sans', sans-serif;
    transition: color 0.2s ease;
    color: transparent;
    position: relative;
    color:white;
    z-index: 1;
    display: block;
    padding: 1rem 0;
}

.Name-Title:hover
{
    color: black;

}

.Name-Title-1::before
{
    content: '';
    position:absolute;
    top: -10%;
    left: -5%;
    width: 0%;
    height: 100%;
    background-color: cyan;
    border-radius: 15px 0px 10px 0px;
    transition: width 0.4s ease;
    z-index: -1;
}

.Name-Title-1:hover::before
{
    width: 110%;
    box-shadow: 0 0 50px 1px cyan;
}

.Sub-Title
{
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    transition: all 0.5s ease;

}

.Skills
{
    width: 100%;
    padding:2rem 0;
    background-color: whitesmoke;
}

.Skill
{
    width: 40vh;
    height: 50vh;
    background-color: red;
    border-radius: 10px;
    position: relative;
}

.Skill-Title
{
    margin: 1rem 0;
    display: inline-block;
    width: fit-content;
    font-size: 2rem;
}

Button
{
    position: absolute;
    bottom: 5%;
    right: 35%;
    border: none;
    background-color: cyan;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
}


