
:root
{
    --navitem-color:gray;
    --navitem-hov-color:rgb(119, 19, 156);
}

.Nav-Items
{
    width: 100vw;
    padding-left:40vw;
    padding-right:5vw;
    margin-bottom:2rem;
}

@media screen and (max-width:1000px){
    .Nav-Items
    {
        padding-left:5em;
        padding-right:3em;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width:650px){
    .Nav-Items
    {
        flex-direction:column;
        padding: 0px;
        margin-bottom:5rem;
    }

    .Nav-Item
    {
        width:100%;
    }
}

.Nav-Item
{
    font-size:1.3rem;
    font-weight:bolder;
    color:var(--navitem-color);
    padding:0.9rem 1rem;
    transition:color 0.5s ease;
}

.Nav-Item:hover
{
    color:var(--navitem-hov-color);
}

.light .Nav-Item.active
{
    color:var(--navitem-hov-color);
    background-color:  rgba(225,225,225,1);
}

.dark .Nav-Item.active
{
    color:var(--navitem-hov-color);
    background-color: rgba(30,30,30,1);
}

.active.pseudo-underline::before
{
    width:100%;
}

.Mode-Button
{
    position:absolute;
    top:0.5rem;
    right:0.5rem;
    position:fixed;
    border-radius:10px;
    padding:0.8rem 1rem;
    border:none;
    transition:all 0.5s ease;
    opacity: 0.6;
    z-index: 100;
}

.Mode-Button:hover
{
    opacity: 1;
}
